<div class="axiom-trackers">

  <div class="tracker-row">
    <label>Health</label>
    <div class="dots">{{actor.system.health}} / 3</div>
  </div>

  <div class="tracker-row">
    <label>Stamina</label>
    <div class="dots">{{actor.system.stamina}} / 3</div>
  </div>

  <div class="tracker-row">
    <label>Toughness</label>
    <div class="value">{{actor.system.toughness}}</div>
  </div>

  <div class="tracker-row">
    <label>Movement</label>
    <div class="value">{{actor.system.movement}}</div>
  </div>

  <div class="tracker-row">
    <label>Corruption Threshold</label>
    <div class="value">{{actor.system.corruption.threshold}}</div>
  </div>

  <div class="tracker-row">
    <label>Focus Points</label>
    <div class="value">{{actor.system.focus}}</div>
  </div>

</div>
