<div class="attribute-tests">

  {{!-- INSIGHT = LOG + INS --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Insight"}}</span>
    <span class="attr-test-value">
      0
    </span>
    <button type="button" 
            class="attr-test-roll" 
            data-action="roll-attribute-test"
            data-test="insight">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- PERCEPTION = RES + INS --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Perception"}}</span>
    <span class="attr-test-value">
      0
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="perception">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- MEMORY = RES + LOG --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Memory"}}</span>
    <span class="attr-test-value">
      0
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="memory">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- COMPOSURE = CHA + RES --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Composure"}}</span>
    <span class="attr-test-value">
      0
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="composure">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- LIFTING & CARRYING = STR + FORT --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.LiftingCarrying"}}</span>
    <span class="attr-test-value">
      0
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="lifting">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

</div>
