<section class="tab {{tabs.sidebar.attribute-tests.cssClass}}"
         data-tab="{{tabs.sidebar.attribute-tests.id}}"
         data-group="{{tabs.sidebar.attribute-tests.group}}">

  {{!-- INSIGHT = LOG + INS --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Insight"}}</span>
    <span class="attr-test-value">
      {{math system.attributes.logic.value "+" system.attributes.instinct.value}}
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="insight">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- PERCEPTION = RES + INS --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Perception"}}</span>
    <span class="attr-test-value">
      {{math system.attributes.resolve.value "+" system.attributes.instinct.value}}
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="perception">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- MEMORY = RES + LOG --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Memory"}}</span>
    <span class="attr-test-value">
      {{math system.attributes.resolve.value "+" system.attributes.logic.value}}
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="memory">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- COMPOSURE = CHA + RES --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.Composure"}}</span>
    <span class="attr-test-value">
      {{math system.attributes.charisma.value "+" system.attributes.resolve.value}}
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="composure">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

  {{!-- LIFTING & CARRYING = STR + FORT --}}
  <div class="attr-test-row">
    <span class="attr-test-label">{{localize "AXIOM.LiftingCarrying"}}</span>
    <span class="attr-test-value">
      {{math system.attributes.strength.value "+" system.attributes.fortitude.value}}
    </span>
    <button type="button"
            class="attr-test-roll"
            data-action="roll-attribute-test"
            data-test="lifting">
      <i class="fa-solid fa-dice-d8"></i>
    </button>
  </div>

</section>
