<section
  class="sheet-body tab flexcol {{tabs.description.cssClass}}"
  data-tab="{{tabs.description.id}}"
  data-group="{{tabs.description.group}}"
>
  {{#if isEditable}}
  <prose-mirror
    name="system.description"
    data-document-u-u-i-d="{{item.uuid}}"
    value="{{system.description}}"
    collaborate="true"
    toggled="true"
    class="axiom-prosemirror"
  >
    {{{description.publicHTML}}}
  </prose-mirror>
  {{else}}
  <article class="editor-content scrollable">
    {{{description.publicHTML}}}
  </article>
  {{/if}}
</section>
