<nav class="sheet-tabs tabs" aria-roledescription="Tabs Navigation">
  {{#each tabs as |tab|}}
  <a
    data-action="tab"
    data-group="{{tab.group}}"
    data-tab="{{tab.id}}"
    class="{{tab.cssClass}}"
  >
    {{#if tab.icon}}<i class="{{tab.icon}}" inert></i>{{/if}} {{localize tab.label}}
  </a>
  {{/each}}
</nav>
